<mat-card class="card_principal">
  <mat-card-header>
    <mat-card-title class="titulo">REALIZE SEU CADASTRO</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput type="text" placeholder="digite seu nome">
    </mat-form-field>
    <br>

    <mat-form-field>
      <mat-label>Idade</mat-label>
      <input matInput type="text" placeholder="digite sua idade">
    </mat-form-field>
    <br>

    <mat-form-field>
      <mat-label>CPF</mat-label>
      <input matInput type="text" placeholder="digite seu CPF">
    </mat-form-field>
    </mat-card-content>
</mat-card>
