<mat-card class="card-cadastro">
  <mat-card-content>
    <mat-form-field appearance="fill">
      <input matInput [(ngModel)]="clienteDeManutencao.nome" placeholder="Digite o nome">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <input matInput [(ngModel)]="clienteDeManutencao.idade" placeholder="Digite a idade">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input matInput [(ngModel)]="clienteDeManutencao.cpf" placeholder="Digite o CPF">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="manter()">{{nomeBotaoManutencao}}</button>
  </mat-card-actions>
</mat-card>
